.list1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list1 li{
    width: 25%;
    text-align: center;
    list-style: none;
    margin-top: 2%;
    border: 1px solid #24292E ;
    background: #24292E;
    color: white;
    padding: 2%;
    margin-left:1%;
    margin-right: 1%;
    font-family: serif;
    padding:5%;
}
  
li a{
    background: white;
    color:#24292E;
    font-family: sans-serif;
    padding: 5%;
    border-radius: 20px;
    padding-left: 20%;
    padding-right: 20%;
    text-decoration:none;
}

@media only screen and (max-width: 768px){
    .list1{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .list1 li{
        width: 60%;
        text-align: center;
        list-style: none;
        margin-top: 5%;
    }
    a{
        background: white;
        color:#24292E;
        font-family: sans-serif;
        padding: 5%;
        font-size: 0.8em;
        border-radius: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
}
